.TopSection{
    display:flex;
}

h1 {
    color: red;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-content: center;
    }


#displayMovieData{
    justify-content: center;
}

